<h1>編集</h1>
<%= form_with model:@post, local:true do |f| %>
  <h4>タイトル</h4> 
  <%= f.text_field :title %>
  <h4>コメント</h4>
  <%= f.text_area :text %><br>
  <h4>画像</h4>
  <% if @post.image.attached? %>
   <%= image_tag @post.image, style: "width:400px; height:300px; object-fit:cover;" %>
  <% end %>
  <h4>画像を変更する</h4>
  <%= f.file_field :image %><br>
  <%= f.submit '保存' %>
<% end %>